.main-content {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

label {
  display: block;
  margin-top: 10px;
  font-size: 0.9rem;
  color: #333;
}

input,
button {
  width: 100%;
  padding: 6px 12px;
  margin: 5px 0;
  border-radius: var(--radius);
  border: 1px solid var(--border);
  box-sizing: border-box;
  transition: var(--transition);
}

input:focus {
  border-color: var(--primary);
  outline: none;
}

select {
  width: 100%;
  box-sizing: border-box;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-radius: var(--radius);
  background: #fff;
  margin: 5px 0;
}

/* //////////////////////// */
.form-fields {
  display: flex;
  flex-direction: column;
  gap: 6px;
}
.form-error {
  color: var(--danger);
  text-align: center;
}

.stock-select {
  display: grid;
  grid-template-columns: 3fr 4fr;
  align-items: center;
  margin-bottom: 5px;
}

.stock-select span {
  font-size: 0.9rem;
  white-space: nowarp;
}

.stock-select > div {
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 0 5px;
  background-color: var(--primary);
  color: white;
  height: 100%;
  border-bottom-right-radius: var(--radius);
  border-top-right-radius: var(--radius);
}

.stock-select > select {
  margin: 0;
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
  border: 1px solid var(--primary);
}

._2way-form-row {
  background-color: var(--light);
  border: 1px solid var(--border);
  border-radius: var(--radius);
  padding: 5px;
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 10px;
}

._2way-form-row label {
  margin: 0;
}

.action-btns > button {
  margin: 6px 0;
}

/* ///////////////////////// */
.row {
  display: flex;
  align-items: center;
  gap: 10px;
}
.row > * {
  flex: 1;
}

/* //////// */

.calc-btns {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.calc-btns .left-section {
  display: flex;
  align-items: center;
  gap: 5px;
}

.switch {
  position: relative;
  display: inline-block;
  min-width: 62px;
  width: 100%;
  height: 37px;
  margin: 0;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
  border-radius: var(--radius);
}

.slider:before {
  position: absolute;
  content: "";
  height: 29px;
  width: 29px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: 0.4s;
  border-radius: var(--radius);
}

.switch input:checked + .slider {
  background-color: var(--primary);
}

.switch input:checked + .slider:before {
  transform: translateX(90%);
}

.switch-label {
  margin: 0;
  font-size: 0.7rem;
  text-align: left;
}

/* //////////// */
